.hero {
  display: flex;
  justify-content: center;
  gap: 10rem;

  margin: 0 7vw;
}

.hero article {
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.hero h2 {
  text-transform: uppercase;
  width: 13ch;
}

.hero div {
  background: url(../../../public/img/hero.png) no-repeat center;
  background-size: cover;

  display: flex;
  align-items: flex-end;

  width: 60vw;
}

.hero a {
  background-color: white;
  color: #333333;
  text-transform: uppercase;
  padding: 3rem 2rem;
}
